* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
h1 {
  margin-left: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.overlay {
  position: fixed;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  right: 0;
  filter: blur(6px);
}
.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.message {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.form {
  padding: 12px;
  border: 1px solid black;
  width: 325px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 12px auto;
  position: absolute;
  z-index: 999;
  background-color: #7086dd;
  left: 0;
  right: 0;
  top: 120px;
  border-radius: 8px;
}

.form > div {
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div > select {
  margin-top: 8px;
}
div > input {
  border-radius: 24px;
  text-indent: 4px;
  border: 1px solid black;
  padding: 4px;
  /* border: 0; */
}
div > label {
  margin-bottom: 4px;
  font-weight: bold;
}
.button-container {
  margin-top: 24px;
  flex-direction: row;
  width: 100%;
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  gap: 8px;
}
.form-buttons {
  gap: 12px;
}
button {
  padding: 8px 12px;
  border: 0;
  /* background-color: darkblue;
  color: white; */
  border-radius: 8px;
}

.hidden {
  display: none;
}

.card {
  /* border: 1px solid black; */
  margin-top: 24px;
  padding: 12px;
  width: 200px;
  border-radius: 8px;
  background-color: #fff;
  display: inline-block;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0.1);
}
.card-content > .card-author {
  font-style: italic;
}

.section-books {
  background-color: #dcd0d0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.card > h4 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 12px;
  border-bottom: 1px solid black;
  /* display: inline; */
}
.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-content > p {
  margin-top: 4px;
  margin-bottom: 4px;
}

.books-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.button-open-form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.book-read {
  background-color: greenyellow;
  color: #000;
}

.book-not-read {
  background-color: red;
  color: #fff;
}
